<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <img src="<%= asset_path user.photo %>" width="150">
    <article>
      <h1><%= user.name %></h1>
      <p>Number of posts: <%= user.posts.count %></p>
    </article>
  <% end %>
<% end %>